<%= form_for([blog,comment_new], remote: true) do |f| %>
  <% if comment_new.errors.any? %>
    <div id="error_explanation">
      <h2><%= comment_new.errors.count %>件のエラーがあります。</h2>

      <ul>
      <% comment_new.errors.full_message.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :blog_id %>
  <%= f.text_field :id %>
  <div class="field">
    <%= f.text_field :content, placeholder: "内容", class: "form-control" %>
  </div>
  <div class="action">
    <%= f.submit 'コメント新規投稿', class: 'btn btn-primary btn-block'  %>
  </div>
<% end %>
